<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
  
  <bean id="myEnglishTutor" class="com.practiceActivity3.EnglishTutor">
  
  </bean>
  <!-- If scope is singleton, only one bean is created across the application -->
  <bean id="myHockeyCoach" class="com.practiceActivity3.HockeyCoach" scope="singleton">
  	<property name="tutor" ref="myEnglishTutor"></property>
  </bean> 
  
  <!-- If scope is prototype, different beans will created each time -->
  <!-- <bean id="myHockeyCoach" class="com.practiceActivity3.HockeyCoach" scope="prototype">
  	<property name="tutor" ref="myEnglishTutor"></property>
  </bean>     -->   
</beans>