<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
	
	<!-- load the properties file: sports.properties -->
	<context:property-placeholder location="classpath:sports.properties"/>

    <bean id="myCoach" class="com.springdemo.BaseballCoach">
    <!-- Set up the constructor injection -->
    <constructor-arg ref="myFortune"/>
    </bean>
    <bean id="cricketCoach" class="com.springdemo.CricketCoach">
    <!-- Set up my setter injection -->
    <property name="fortuneService" ref="myFortune"/>
    <!-- Inject literal values -->
    <property name="emailAddress" value="${foo.email}"/>
    <property name="team" value="${foo.team}"/>
    </bean>
    <bean id="trackCoach" 
    class="com.springdemo.TrackCoach">
    <constructor-arg ref="myFortune"/>
    </bean>
    <bean id="myFortune"
    class="com.springdemo.HappyFortuneService">
    </bean>

</beans>